@font-face {
	font-family: iconfont; /* Project id 2667653 */
	src: url("iconfont.ttf?t=1663324025864") format("truetype");
}
.iconfont {
	font-family: iconfont !important;
	font-size: 18px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
}
.icon-xiala::before {
	content: "\e62b";
}
.icon-message::before {
	font-size: 20px;
	content: "\e605";
}
.icon-zhuti::before {
	font-size: 22px;
	content: "\e649";
}
.icon-search::before {
	font-size: 20px;
	content: "\e64a";
}
.icon-contentright::before {
	font-size: 22px;
	content: "\e601";
}
.icon-contentleft::before {
	font-size: 22px;
	content: "\e602";
}
.icon-fangda::before {
	content: "\e604";
}
.icon-suoxiao::before {
	content: "\e600";
}
.icon-more::before {
	content: "\e628";
}
.icon-user::before {
	content: "\e60f";
}
.icon-arrow-down::before {
	content: "\e686";
	font-size: 16px;
}
