/* 自定义 element 暗黑模式样式 */
html.dark {
	--bg-color: #141414;
	--main-bg-color: #0d0d0d;
	--border-light: 1px solid #4c4c4d;

	// * wangEditor
	--w-e-toolbar-color: #595959;
	--w-e-toolbar-bg-color: #eeeeee;
	--w-e-textarea-bg-color: #141414;
	--w-e-textarea-color: #eeeeee;

	// * 以下为自定义暗黑模式内容
	// login
	.login-container {
		background-color: var(--el-fill-color-extra-light) !important;
		.login-box {
			background-color: var(--el-mask-color) !important;
			.login-form {
				background-color: var(--el-bg-color) !important;
				box-shadow: 5px 5px 15px rgb(161 161 161 / 20%) !important;
				.logo-text {
					color: var(--el-text-color-primary) !important;
				}
			}
		}
	}

	// scroll-bar
	::-webkit-scrollbar {
		background-color: var(--el-scrollbar-bg-color) !important;
	}
	::-webkit-scrollbar-thumb {
		background-color: var(--el-border-color-darker) !important;
	}

	// layout
	.el-container {
		.el-aside {
			background-color: var(--bg-color) !important;
			border-right: var(--border-light) !important;
			.logo {
				// border-bottom: var(--border-light) !important;
				border: none !important;
			}
		}
		.not-aside {
			border-right: none !important;
		}
		.el-header {
			background-color: var(--bg-color) !important;
			border-bottom-color: var(--el-border-color-light) !important;
		}
		.el-main {
			background-color: var(--main-bg-color) !important;
			.card {
				background-color: var(--bg-color) !important;
			}
		}
		.el-tabs {
			background-color: var(--bg-color) !important;
		}
		.el-footer {
			.footer {
				background-color: var(--bg-color) !important;
				border-top-color: var(--el-border-color-light) !important;
				a {
					color: var(--el-text-color-regular) !important;
				}
			}
		}
	}

	// menu
	.el-menu,
	.el-sub-menu,
	.el-menu-item,
	.el-sub-menu__title {
		background-color: var(--bg-color) !important;
		&:not(.is-active) {
			color: #bdbdc0 !important;
		}
		&.is-active {
			color: #ffffff !important;
			background-color: #000000 !important;
		}
	}
	.el-menu-item:not(.is-active):hover {
		background-color: var(--main-bg-color) !important;
	}
	.aside-split {
		background-color: var(--bg-color) !important;
		border-right: var(--border-light) !important;
		.logo {
			border-bottom: var(--border-light) !important;
		}
	}

	// guide
	#driver-highlighted-element-stage {
		background-color: var(--el-color-info-light-5) !important;
	}

	//图标选择器e-icon-picker
	/*popper背景颜色*/
	--e-popover-background-color: #312a2a;
	/*popper padding大小*/
	--e-popover-padding: 20px;
	/*popper字体颜色*/
	--e-popover-color: #e4dddd;
	/*popper圆角半径*/
	--e-popover-border-radius: 6px;
	/*popper边框样式*/
	--e-popover-border-style: solid;
	--e-popover-border-width: 0px;
	--e-popover-border-color: #eeeeee;
	/*popper阴影*/
	--e-popover-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
	/*popper hover状态下背景颜色*/
	--e-popover-background-color-hover: #312a2a;

	/*图标字体颜色*/
	--e-icon-color: #e4dddd;
	/*滑道背景颜色*/
	--e-thumb-background-color: #f2f3f3;
	/*输入框前图标边框颜色*/
	--e-input-prefix-icon-border-color: #dcdfe6;
	/*输入框前图标背景颜色*/
	--e-input-prefix-icon-background-color: #312a2a;
	/*输入框背景颜色*/
	--e-input-inner-background-color: #312a2a;
	/*输入框边框颜色*/
	--e-input-inner-border-color: #dcdfe6;
	/*输入框字体颜色*/
	--e-input-inner-color: #e4dddd;
	/*输入框获取焦点时边框颜色*/
	--e-input-inner-focus-border-color: #409eff;
	/*输入框禁用时背景颜色*/
	--e-input-inner-disabled-background-color: #f5f7fa;
	/*输入框禁用时边框颜色*/
	--e-input-inner-disabled-border-color: #dcdfe6;
	/*输入框禁用时字体颜色*/
	--e-input-inner-disabled-color: #c0c4cc;
	/*图标选择器列表图标宽度*/
	--e-icon-picker-icon-list-width: 30px;
	/*图标选择器列表图标外边距*/
	--e-icon-picker-icon-list-margin: 5px;
	/*图标选择器列表图标大小*/
	--e-icon-picker-icon-list-font-size: 20px;
	/*输入框large下字体大小*/
	--e-input-font-size-large: 14px;
	/*输入框small下字体大小*/
	--e-input-font-size-small: 12px;
	/*输入框default下字体大小*/
	--e-input-font-size-default: 12px;
	/*输入框small下高度*/
	--e-input-height-small: 24px;
	/*输入框default下高度*/
	--e-input-height-default: 32px;
	/*输入框large下高度*/
	--e-input-height-large: 40px;
	/*当无图标时显示的文字颜色*/
	--e-icon-picker-icon-list-no-data-color: rgba(60, 60, 60, 0.7);
}
